body {
  font-family: sans-serif;
  background-color: #5d85afb2;
  margin: 0px 1rem;
}

h1 {
  color: #ffffff;
  font-size: 2.2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0px;
  column-gap: 1rem;
}

.box {
  padding: 1rem;
  width: 600px;
  background-color: #d6dbe4;
  border-radius: 8px;
}

.row {
  padding-bottom: 1rem;
}

.row-flax {
  padding-bottom: 1rem;
  display: flex;
  column-gap: 1rem;
}

.col {
  flex: auto;
  /* margin-right: 10px; */
}

.context {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  color: #255dc5;
}

.f-label {
  display: inline-block;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  padding-left: 0.75rem;
}

.f-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: white;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  margin: 0.25rem 0.125rem;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #4f77c0;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn:hover {
  background-color: #4263a0;
  color: #fff;
}

.btn-red {
  background-color: #d93b3b;
}

.btn-red:hover {
  background-color: #af3131;
}

.btn-green {
  background-color: #479658;
}

.btn-green:hover {
  background-color: #326b3e;
}

.btn-yellow {
  background-color: #a6be4e;
}

.btn-yellow:hover {
  background-color: #8a9e42;
}

.btn-light {
  background-color: #ececec;
  color: #272727;
}

.btn-light:hover {
  background-color: #c5c5c5;
  color: #272727;
}

.row:has(.context-msg) {
  display: block;
}

.context-msg {
  float: left;
  font-size: 1.3rem;
  font-weight: 700;
  margin-block: 0.375;
  color: #255dc5;
  display: flex;
}

.btn-right {
  float: right;
  margin-right: 0;
  background-color: transparent;
  color: #4f77c0;
  border-color: #4f77c0;
  font-size: 0.75rem;
  line-height: 1.2;
}

.btn-right:hover {
  background-color: #949aa5;
  color: #fff;
}

.container:has(.msg-box) {
  position: fixed;
  bottom: 4px;
  transform: translateX(-50%);
  left: 50%;
}

.msg-box {
  padding: 1rem;
  width: 800px;
  height: 200px;
  background-color: #e2e4ee;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.msg {
  background-color: #434643;
  color: #e2e4ee;
  font-size: 1.1rem;
  margin: 0rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  flex: 1;
  overflow: auto;
}

.dialog {
  width: 100%;
  height: 100%;
  background-color: #00000080;
}

.dialog::backdrop {
  background-color: #2b00ff40;
}

.dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00000033;
}

.tbl {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  border: 1px solid #a5a5a5;
  background-color: #ffffff;
}

.tbl tr {
  line-height: 2em;
  border-bottom: 1px solid #a5a5a5;
}

.tbl thead>tr {
  border-bottom: 2px solid #a5a5a5;
}

.tbl th,
.tbl td {
  padding: 10px;
}

.tbl th {
  text-align: left;
}

.tbl tbody>tr:hover {
  background-color: #e6e6e6;
}